<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../styles/task_5.css">
</head>

<body>
    <div id="app">
        <form @submit="onSubmit">
            <label>
                Login:
                <input type="text" v-model="login" placeholder="Enter your login">
            </label>
            <label>
                Password:
                <input type="password" v-model="password" placeholder="Enter your password">
            </label>
            <button type="submit" :disabled="!login || !password">Go!</button>
        </form>

        <p v-if="message" :class="messageClass">{{ message }}</p>
    </div>

    <script>
        const { createApp } = Vue;

        const USERS = [
            { login: 'alina', password: '12345' },
            { login: 'maria', password: '123456' },
            { login: 'taras', password: '1234' },
        ];

        createApp({
            data() {
                return {
                    login: '',
                    password: '',
                    message: '',
                };
            },
            computed: {
                messageClass() {
                    return this.message === "Авторизація успішна!"
                        ? "success"
                        : "error";
                },
            },
            methods: {
                onSubmit(e) {
                    e.preventDefault();
                    const user = USERS.find(user => user.login === this.login);
                    if (!user) {
                        this.message = `Користувач з логіном "${this.login}" не знайдено`;
                    } else if (user.password !== this.password) {
                        this.message = "Невірний пароль";
                    } else {
                        this.message = "Авторизація успішна!";
                    }
                    this.password = '';
                    this.login = '';
                },
            },
        }).mount('#app');
    </script>
</body>

</html>